*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
body {
    background-color: #93b8d1;
}
.title {
    text-align: center;
    text-transform: uppercase;
    background-color: #003355;
    color: #ffffff;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.images__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: #e4f2fd;
    height: max-content;
    margin-top: 15px;
}
.speaker {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}
.choose__image {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px;
}
.image__box {
    width: 220px;
    margin: 2px;
    border: 2px solid #000;
}
.image__box img {
    max-width: 100%;
    height: auto;
}
.active {
    border-color: red;
}

canvas {
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
}
/* .wrapper {
    background-color: #93b8d1;
} */
.wrapper .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
label {
    text-transform: uppercase;
    font-size: 20px;
    margin: 3px 0;
}
input[type="text"] {
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    background-color: #fafafa;
    border: none;
    color: #000000;
    outline: none;
    width: 90%;
    border: 1px solid gray;
    text-transform: uppercase;
    margin: auto;
}
.buttons {
    display: flex;
    justify-content: center;
}
button,
#save-button {
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: green;
    color: white;
    border: 2px solid gray;
    text-transform: uppercase;
    font-size: 16px;
}
button:hover {
    transform: translate(1px, 1px);
    background-color: rgb(5, 78, 5);
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
    }
    .choose__image {
        flex-direction: row;
        width: 96%;
        padding: 15px 0;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    .speaker {
        font-size: 20px;
    }
}
@media (max-width: 460px) {
    input[type="text"] {
        font-size: 1em;
    }
}
